node_modules/
temporary screenshots/
package-lock.json

# AI tool configs
.adal/
.agents/
.augment/
.bob/
.claude/
.codebuddy/
.commandcode/
.continue/
.cortex/
.crush/
.factory/
.goose/
.iflow/
.junie/
.kilocode/
.kiro/
.kode/
.mcpjam/
.mux/
.neovate/
.openhands/
.pi/
.pochi/
.qoder/
.qwen/
.roo/
.trae/
.vibe/
.windsurf/
.zencoder/

# Project internals
skills/
skills-lock.json
awesome-design-md/
my-video/
brand_asset/
package.json
package-lock.json
